Origin: EOS Germany

Label: debrepo

Codename: debrepo

Architectures: amd64

Components: dev staging prod

Description: Debian Repository for EOS Germany

SignWith: 80F43A5E

DebOverride: override.dbr